.contest-fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.contest-fieldset__title {
  margin: 0;
  margin-bottom: 43px;
  padding-left: 30px;
  padding-right: 30px;

  @include font-regular;
  font-weight: normal;
  line-height: 18px;
  color: $pink;
  text-transform: uppercase;

  &--contacts {
    display: none;
  }

  &--travel-app {
    margin-bottom: 39px;
  }

  &--textarea {
    margin-bottom: 16px;
  }
}

.contest-fieldset__list {
  @include list-reset;
  padding-left: 88px;

  @include font-regular;
  text-align: left;
}

.contest-fieldset__item {
  margin-bottom: 52px;
  font-size: 18px;

  &:last-child {
    margin-bottom: 0;
  }

  &--travel-app {
    margin-bottom: 45px;
  }
}

.contest-fieldset__checkbox,
.contest-fieldset__radio {
  display: none;
}

.contest-fieldset__item,
.contest-fieldset__item label {
  position: relative;
}

.contest-fieldset__checkbox + label::before {
  content: "";
  position: absolute;
  top: -7px;
  left: -69px;
  width: 39px;
  height: 39px;
  border: solid 2px $grey-border;
  background-color: $white;
}

.contest-fieldset__checkbox--checked-icon {
  display: none;
  position: absolute;
  top: 7px;
  left: -60px;
  fill: $pink;
}

.contest-fieldset__checkbox:checked ~ .contest-fieldset__checkbox--checked-icon {
  display: block;
}

.contest-fieldset__radio + label::before {
  content: "";
  position: absolute;
  top: -7px;
  left: -70px;
  width: 41px;
  height: 40px;
  border-radius: 50%;
  border: solid 2px $grey-border;
  background-color: $white;
}

.contest-fieldset__radio:checked + label::after {
  content: "";
  position: absolute;
  top: 5px;
  left: -57px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: $pink;
}

.contest-fieldset__checkbox:hover + label::before,
.contest-fieldset__checkbox:checked:hover + label::before,
.contest-fieldset__radio:hover + label::before,
.contest-fieldset__radio:checked:hover + label::before {
  border-color: $main-color;
}

.contest-fieldset__checkbox:active + label::before,
.contest-fieldset__checkbox:checked:active + label::before,
.contest-fieldset__radio:active + label::before,
.contest-fieldset__radio:checked:active + label::before {
  border-color: $pink;
}

@media (min-width: $tablet-width) {
  .contest-fieldset {
    position: relative;
    padding-top: 56px;
    padding-bottom: 59px;
    border: solid 2px $grey-border;

    &--contacts {
      padding-top: 45px;
      padding-bottom: 26px;
    }

    &--achievements {
      padding-bottom: 53px;
    }

    &--textarea {
      padding-top: 45px;
      padding-bottom: 47px;
    }
  }

  .contest-fieldset__list {
    padding-left: 116px;
  }

  .contest-fieldset__title {
    position: absolute;
    top: -10px;
    left: 50%;
    margin-left: -185px;
    padding-left: 32px;
    padding-right: 32px;
    background-color: $white;

    &--travel-app {
      padding-left: 25px;
      padding-right: 25px;
    }

    &--contacts {
      display: inline;
      margin-left: -132px;
      margin-bottom: 37px;
    }

    &--achievements {
      margin-left: -219px;
    }

    &--textarea {
      margin-left: -132px;
      margin-bottom: 37px;
      padding-left: 38px;
      padding-right: 38px;
    }
  }

  .contest-fieldset__inner-container {
    width: 496px;
    margin: auto;
  }

  .contest-fieldset__radio + label::before {
    left: -60px;
  }

  .contest-fieldset__radio:checked + label::after {
    left: -47px;
  }

  .contest-fieldset__checkbox + label::before {
    left: -59px;
  }

  .contest-fieldset__checkbox--checked-icon {
    left: -50px;
  }
}

@media (min-width: $desktop-width) {
  .contest-fieldset {
    &--travel-app {
      margin-top: 10px;
      padding-top: 63px;
      padding-bottom: 67px;
    }

    &--contacts {
      padding-top: 42px;
      padding-bottom: 0;
    }

    &--achievements {
      padding-top: 61px;
      padding-bottom: 0;
    }

    &--textarea {
      padding-bottom: 45px;
    }
  }

  .contest-fieldset__list {
    padding-left: 130px;
    line-height: unset;
  }

  .contest-fieldset__title {
    &--contacts {
      margin-bottom: 33px;
      padding-left: 34px;
    }

    &--achievements {
      margin-bottom: 52px;
    }

    &--textarea {
      margin-bottom: 34px;
    }
  }

  .contest-fieldset__item--travel-app {
    margin-bottom: 55px;
  }

  .contest-fieldset__radio + label::before {
    top: -8px;
    left: -60px;
  }

  .contest-fieldset__radio:checked + label::after {
    top: 5px;
    left: -48px;
  }

  .contest-fieldset__inner-container {
    display: flex;
    justify-content: space-between;
    width: 820px;
  }

  .contest-fieldset__list--achievements {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    height: 168px;
    padding-left: 118px;
    padding-right: 55px;
  }

  .contest-fieldset__item--achievements {
    margin-bottom: 63px;
    margin-left: 0;

    &:nth-child(2n) {
      margin-bottom: 0;
    }

    .contest-fieldset__checkbox + label::before {
      top: -7px;
      left: -59px;
    }

    .contest-fieldset__checkbox--checked-icon {
      top: 10%;
      left: -51px;
    }
  }
}
