.copyright {
  position: relative;
  min-width: 148px;
  margin: auto;
  padding-left: 9px;
}

.copyright__logo {
  position: absolute;
  top: -6px;
  right: 10px;
  fill: $pink;

  &:hover {
    fill: $main-color;
  }

  &:active {
    opacity: 0.3;
  }
}

.copyright__text {
  @include font-regular;
  line-height: 18px;
}

@media (min-width: $tablet-width) {
  .copyright {
    margin: 0;
    padding-top: 5px;
  }

  .copyright__logo {
    top: 0;
    right: 2px;
  }

  .copyright__text {
    padding-left: 9px;
  }
}

@media (min-width: $desktop-width) {
  .copyright {
    width: 155px;
    margin-top: 22px;
    padding: 0;
  }

  .copyright__text {
    padding: 0;
    font-size: 18px;
  }

  .copyright__logo {
    top: -5px;
  }
}
