.filter-icons {
  @include list-reset;
  display: flex;
  justify-content: space-between;
  width: 240px;
  margin: auto;
  margin-bottom: 114px;
}

.filter-icons__item {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    bottom: -75px;
    left: -40px;
    width: 320px;
    height: 1px;
    background-color: $main-light;
  }

  &--fill::after,
  &--contrast::after {
    display: none;
  }
}

.filter-icons__img {
  fill: $main-color;
  opacity: 0.3;

  &:hover {
    opacity: 0.5;
  }

  &--active {
    fill: $pink;
    opacity: 1;
  }
}

@media (min-width: $tablet-width) {
  .filter-icons {
    flex-direction: column;
    width: 275px;
    margin: 0;
    margin-bottom: 95px;
  }

  .filter-icons__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 52px;

    &:last-child {
      margin: 0;
    }

    &::after {
      bottom: -25px;
      left: 0;
      width: 275px;
    }

    &--fill::after,
    &--contrast::after {
      display: block;
    }
  }

  .filter-icons__img {
    fill: $pink;
    opacity: 1;

    &:hover {
      fill: $main-color;
      opacity: 0.5;
    }

    &--crop {
      width: 22px;
      height: 22px;
    }

    &--fill {
      width: 24px;
      height: 22px;
    }

    &--contrast {
      width: 16px;
      height: 16px;
    }
  }
}

@media (min-width: $desktop-width) {
  .filter-icons {
    width: 410px;
    padding-right: 30px;
  }

  .filter-icons__item {
    margin-bottom: 30px;

    &::after {
      bottom: -13px;
      width: 410px;
    }
  }

  .filter-icons__img {
    &--crop {
      width: 44px;
      height: 44px;
    }

    &--fill {
      width: 48px;
      height: 43px;
    }

    &--contrast {
      width: 32px;
      height: 32px;
    }
  }
}
