.price {
  position: relative;
  overflow: hidden;
  padding-top: 89px;
  padding-bottom: 45px;
  background-color: $light-grey;
  background-image: url("../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-size: 101% auto;
  background-position: 50% 0;
}

@media (min-width: $tablet-width) {
  .price {
    padding-bottom: 25px;
  }
}

@media (min-width: $desktop-width) {
  .price {
    padding-top: 149px;
    padding-bottom: 55px;
  }
}
