.scale {
  position: absolute;
  left: -17px;
  height: 10px;
  padding-top: 3px;
}

.scale__bar {
  width: 240px;
  height: 2px;
  background-color: $black;
}

.scale__toggle {
  position: absolute;
  top: -3px;
  left: 80%;
  width: 14px;
  height: 15px;
  border: solid 2px $pink;
  border-radius: 50%;
  background-color: $light-grey;
  cursor: pointer;

  &:active {
    background-color: $pink;
  }
}

@media (min-width: $tablet-width) {
  .scale {
    position: relative;
    top: 4px;
    left: -22px;
    margin-top: 3px;
  }

  .scale__bar {
    width: 202px;
  }

  .scale__toggle {
    left: 73%;

    &--fill {
      left: 13%;
    }

    &--contrast {
      left: 48%;
    }
  }
}

@media (min-width: $desktop-width) {
  .scale {
    top: 7px;
    left: 0;
    margin-top: 10px;
  }

  .scale__bar {
    width: 288px;
  }

  .scale__toggle--crop {
    left: 25%;
  }

  .scale__toggle--fill {
    left: 86%;
  }

  .scale__toggle--contrast {
    left: 56%;
  }
}
