.social__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 173px;
  margin: auto;
  margin-bottom: 45px;
}

.social__item {
  display: block;
  width: 46px;
  height: 46px;
  background-color: none;
  border: solid 3px $main-light;
  border-radius: 50%;
  cursor: pointer;

  &:hover {
    border-color: $main-color;
  }

  &:active {
    opacity: 0.1;
  }
}

.social__item--twitter,
.social__item--facebook,
.social__item--youtube {
  position: relative;
}

.social__item--twitter::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 18px;
  height: 18px;
  background-image: url("../img/icon-twitter.svg");
  background-repeat: no-repeat;
  transform: translate(-50%, -50%);
}

.social__item--facebook::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 9px;
  height: 18px;
  background-image: url("../img/icon-facebook.svg");
  background-repeat: no-repeat;
  transform: translate(-50%, -50%);
}

.social__item--youtube::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 15px;
  height: 15px;
  background-image: url("../img/icon-youtube.svg");
  background-repeat: no-repeat;
  transform: translate(-50%, -50%);
}

@media (min-width: $tablet-width) {
  .social__list {
    margin: 0;
    padding-top: 6px;
  }
}

@media (min-width: $desktop-width) {
  .social {
    margin-top: 5px;
  }

  .social__list {
    margin-left: 8px;
  }
}
